-#  This file is app/views/fridge/index.html.haml
%h2 Welcome to What's in my fridge!

%table#fridges
  %thead
    %tr
  = link_to 'Go to my profile page'
  %br/
  
  = link_to 'Let me explore the world!'
  %br/
  = link_to 'Nah I am just hungry'
  %br/

  
  %tbody
    - @fridges.each do |fridge|
      %tr
        %td= fridge.menu 
        %td= fridge.ingredient
        %td= fridge.recipe
        %td= fridge.rating
        %td= fridge.where
        %td= link_to "More about #{fridge.menu}", fridge_path(fridge)

= link_to 'Add new recipe', new_fridge_path
