-#  This file is app/views/fridge/index.html.haml
%h1 All Fridge

%table#fridges
  %thead
    %tr
      %th Fridge Menu
      %th Ingredient
      %th Recipe
      %th Rating
      %th Where
  %tbody
    - @fridges.each do |fridge|
      %tr
        %td= fridge.menu 
        %td= fridge.ingredient
        %td= fridge.recipe
        %td= fridge.rating
        %td= fridge.where
        %td= link_to "More about #{fridge.menu}", fridge_path(fridge)

= link_to 'Add new recipe', new_fridge_path
